.container, html, body {
  height: 100%;
  background-image: url("http://mlb.mlb.com/mlb/images/devices/ballpark/1920x1080/1.jpg");
  overflow: hidden; 
}

.flex-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 80;
  top: 30%;
  }
  
.flex-container > div {
  width: 248px;
  height: 238px;
  margin: 15px;
  border-radius: 3px;
}



