body {
    transform: scale(1.1);
    transform-origin: 0 0;
 }

#container{
    display:inline-block;
    width:320px; 
    height:320px;
    margin: 0 auto; 
    background: black; 
    position:relative; 
    border:5px solid black; 
    border-radius: 10px; 
    box-shadow: 0 5px 50px #333}

#gameCanvas{
    position:relative;
    z-index:20;
}